<launch>
    <group ns="nightray">
        <!-- controller params -->
        <arg name="x_p_gain" default="0.8" />
        <arg name="y_p_gain" default="0.8" />
        <!-- <arg name="x_p_gain" default="0.0" />
        <arg name="y_p_gain" default="0.0" /> -->
        <arg name="x_pos_goal" default="0.9" />
        <arg name="yaw_p_gain" default="2.0" />
        <!-- <arg name="yaw_vy_p_gain" default="0.25" /> -->
        <!-- <arg name="yaw_p_gain" default="0.0" /> -->
        <arg name="yaw_vy_p_gain" default="1.0" />

        <arg name="max_v" default="0.12" />
        <arg name="max_yaw_rate" default="0.25" />

        <arg name="takeoff_height" default="0.7" />

        <arg name="drone_frame" default="" /> <!-- blank to use camera frame -->
        
        <node pkg="uav_wrapper_py" type="aruco_pcontrol_transform.py" name="aruco_pcontrol" output="screen">
            <param name="x_p_gain" value="$(arg x_p_gain)" />
            <param name="x_pos_goal" value="$(arg x_pos_goal)" />
            <param name="y_p_gain" value="$(arg y_p_gain)" />
            <param name="yaw_p_gain" value="$(arg yaw_p_gain)" />
            <param name="drone_frame" value="$(arg drone_frame)" />
            <param name="yaw_vy_p_gain" value="$(arg yaw_vy_p_gain)" />
            <param name="max_v" value="$(arg max_v)" />
            <param name="max_yaw_rate" value="$(arg max_yaw_rate)" />
            <param name="takeoff_height" value="$(arg takeoff_height)" />
            <remap from="/target" to="/mavros/setpoint_raw/local" />
        </node>
    </group>
</launch>