<launch>
   <!-- <node pkg="uav_wrapper_py" type="waypoint_drop.py" name="waypoint_drop"/> BOTTOM LEFT BEHIND -->
    <node pkg="tf" type="static_transform_publisher" name="body_setpoint_publisher" args=" -0.7 0.4 0.25  -0.523599 -1.05 0  /pole /body_setpoint 100" /> 
    <!-- <include file="$(find uav_wrapper_py)/launch/vrpn_lamppost.launch"/> -->
</launch>
